extends layout
include ../partials/mixins

block content
  +navbar-mixin
  h1= title

  div(class='container-fluid')
      if messages.length
        div(class='row') 
          ul(class='row')
            each message in messages
              div(class='col' id='message')
                li
                  h5 Title: #{message.title}
                  p Message: #{message.text}
                  p #{message.time_stamp}

                  if message.user.username
                    p Author: #{message.user.username}
                  
                  p 
                    a(href=message.url) Detail

      else 
        div 
          p You currently have no messages