extends layout
include ../partials/mixins

block content
  +navbar-mixin
  h1= title

  h5 Title: #{message.title}
  p Message: #{message.text}
  p #{message.time_stamp}

  if author_id === signed_in_user
    p
      a(href=message.url+'/delete') Delete Message
    p
      a(href=message.url+'/update') Update Message

  if error_message 
    p #{error_message}